<h1>Boomer</h1>
<div style="display: flex">
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="text-box">
        <mat-form-field >
          <mat-label>Écrivez ici</mat-label>
          <textarea matInput (change)="textInput = $event.target.value" [defaultValue]="textInput"></textarea>
        </mat-form-field>
      </div>
      <div class="text-box">
        <mat-form-field >
          <mat-label>Boomer</mat-label>
          <textarea matInput readonly [(value)]="textOutput"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="execute()">Exécuter</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Paramètres</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <app-algorithms></app-algorithms>
    </mat-card-actions>
  </mat-card>
</div>

