<mat-toolbar color="primary">
  <span>Boomer</span>

  <span style="flex: 1 1 auto;"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="githubLogo" style="transform: scale(1.5);"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToWebSource();">
          <mat-icon svgIcon="angularLogo">web</mat-icon>
          <span>florencelauer/boomer</span>
      </button>
      <button mat-menu-item (click)="navigateToPythonSource();">
          <mat-icon svgIcon="pythonLogo">python</mat-icon>
          <span>eepp/boomer</span>
      </button>
  </mat-menu>
</mat-toolbar>

<div style="display: flex">
  <mat-card class="mat-card">
    <mat-card-content>
      <div class="text-box">
        <mat-form-field >
          <mat-label>Écrivez ici</mat-label>
          <textarea matInput (change)="textInput = $event.target.value" [defaultValue]="textInput"></textarea>
        </mat-form-field>
      </div>
      <div class="text-box">
        <mat-form-field >
          <mat-label>Boomer</mat-label>
          <textarea matInput readonly [(value)]="textOutput"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="execute()">Exécuter</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Paramètres</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <div><app-seed></app-seed></div>
      <div><app-algorithms></app-algorithms></div>
    </mat-card-actions>
  </mat-card>
</div>
