.main-page {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding-top: 100px;

}

.right-cards {
    width: 50%;
    float: right;
}

.left-cards {
    width: 50%;
    float: left;
}

.text-card {
    height: 3%;
}

.seed-card {
    height: 3%;
    margin-top: 150px;
}

.algorithms-card {
    height: 3%;
}

.text-box {
    width: 100%;
    flex-direction: column;
    display: flex;
}

.mat-card {
    margin: 20px;
    opacity: 0.9;
}