<mat-toolbar color="primary">
    <span>Boomer</span>

    <span style="flex: 1 1 auto;"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="githubLogo" style="transform: scale(1.5);"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateToWebSource();">
            <mat-icon svgIcon="angularLogo">web</mat-icon>
            <span>florencelauer/boomer</span>
        </button>
        <button mat-menu-item (click)="navigateToPythonSource();">
            <mat-icon svgIcon="pythonLogo">python</mat-icon>
            <span>eepp/boomer</span>
        </button>
    </mat-menu>
</mat-toolbar>

<textarea rows="8" (change)="textInput = $event.target.value">{{textInput}}</textarea>
<textarea rows="8">{{textOutput}}</textarea>
<button (click)="execute()">Execute</button>