/* You can add global styles to this file, and also import other style files */

html, body { 
    width: 100vw;
    height: 100vh; 
}

body { 
    overflow: hidden;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("assets/50.png");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

app-root {
    display: block;
    height: 100vh;
}